body {
    background: #e3e3e3;
    color: #757575;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 60px;

}


/*HomeNavbarCSS For Details*/

.navbar{
    margin-bottom:0;
    border-bottom:1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Monserrat","Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #333333;

}

.navbar-brand{
    color: #333333;
    font-weight:700;
}

.navbar-brand:focus{
    outline: none;
}

.navbar-custom a{
    color: #f4f4f4;
}

#navbar a:hover{
    color: inherit;
}
/*End*/


.container {
    background: #00C5C5;
    padding: 70px 75px;
    margin-top: -60px;
    /*border: 1px solid #a5d4fc;*/
}

img {
    max-width: 100%
}

.propic {
    border-radius: 10px;
}



h1 {
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #000;
    margin: 0;
}

h2 {
    font-size: 1.3em;

    padding: 10px;
}

h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
}

h4 {
    margin: 15px 0 0;
}

p,
a {
    line-height: 1.7em;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;

}
a{
  color: #9AC96F;
}
a:hover{
  color: #9AC96F;
}

.signature{
  color: #00C5C5;
}

li {
    padding: 7px 0;
}

.dl-share .btn {
    min-width: 120px;
}

.signature {
    font-family: 'Kristi', cursive;
    color: #3e3f40;
    font-size: 2.2em;
    margin-top: 20px;
}

.social {
    margin-right: 7px;
}

.btn .fa {
    margin-right: 10px;
}

.secicon.fa {
    font-size: 28px;
    color: #000;
    margin-right: 10px;
}

.sub {
    margin-bottom: 15px;
}

.award {
    padding-top: 20px;
}

blockquote {
    font-size: 1em;
    padding: 0 15px;
    margin: 30px 0;
}

.mainleft {
    padding-right: 30px;
}

.testimonials img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-top: -10px;
    border: 1px solid #ededed;
}

.year,
.share {
    text-align: right;
}


footer{
    background: #333333;
    color: #f4f4f4;
    padding-top: 20px;
}


.header-well{
  background: #265B6A;
  color: #D1E1E5;

}

/*.leftbody-well{
  background: #D8D6C3;
}*/

.statement-well{
  background: #265B6A;
  color: #D1E1E5;
}

.education-well{
  background: #265B6A;
  color: #D1E1E5;
}

.job-well{
  background: #265B6A;
  color: #D1E1E5;
}

/*.mainright-well{
  background: #D8D6C3;
}*/

.technical-well{
  background: #265B6A;
  color: #D1E1E5;
}

.award-well{
  background: #265B6A;
  color: #D1E1E5;
}

.testimonials-well{
  background: #265B6A;
  color: #D1E1E5;
}

.footer-well{
  }
